.section {
	padding-top: 94px;
	padding-bottom: 94px;

	.title {
		color: $secondary-text-color;
	}

	.caption {
		margin-top: 0;
		margin-bottom: 50px;

		font-weight: 700;
		font-size: 36px;
		line-height: 1.17;
		text-align: center;
	}
}
